.front-page-container{
    background-color: #FCF9EE;
    width: 100%;
    height: 100vh;
    display: flex;

    .text-container{
        width: 40%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            font-size: 56px;
            padding-left: 50px;
            margin-bottom: 5px;
        }
        h2{
            font-size: 46px;
            opacity: 0.9;
            padding-left: 100px;
            color: #226034;
        }


    }

    .img-container{
        width: 60%;
        height: 100%;

        .img{
            width: 100%;
            height: 100%;
            background-image: url('../../assets/front-page-img.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}