.holder{
    width: 100vw;

    li{
        list-style: none;
    }

    

    .need-for-organic{
        width: 100%;
        padding: 5rem 15%;
        color: white;
        background-color: #2f3c2b;

        .need-head{
            font-size: 3.5rem;
            text-align: center;
            margin-bottom: 5rem;
        }

    }


    .start-farming-container{
        width: 100%;
        padding: 5rem 15%;
        
        h1{
            width: max-content;
            margin: 3rem 1rem;
            padding-bottom: .5rem;
            border-bottom: .2rem solid black;
            font-size: 3rem;
            margin-bottom: 5rem;
        }


        .orgo-img{
            width: 90%;
            margin-left: 2.5rem;
            margin-bottom: 5rem;
            height: 50rem;

            img{
                width: 100%;
                height: 100%;
            }
        }

    }

    .steps{
        h3{
            font-size: 2.2rem;
        }
    
        p{
            font-size: 1.6rem;
            letter-spacing: .2rem;
            line-height: 3rem;
        }
    }
}



@media(max-width: 768px){
  .holder{
      .need-for-organic{
      padding: 5rem 1rem;
    }
    .start-farming-container{
        padding: 5rem 2rem;
    }
  }
}