.navigation {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #FCF9EE;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: sticky;

  .logo-container {
    height: 100%;
    width: 26rem;
    padding: 1rem;

    .logo{
        width: 100%;
        height: 100%;
        background-image: url('../../assets/logo.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
  }

  .nav-links-container {
    font-weight: 600;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu{
      visibility: hidden;
    }

    .nav-link {
      margin: 1rem 1.5rem;
      cursor: pointer;
      font-size: 1.5rem;




      &:hover{
        padding: .2rem;
        border-bottom: .2rem solid #226034;
        opacity: 0.9;
        color: #226034;

      }
    }
  }
}

@media(max-width: 768px){
  .navigation{
    .nav-links-container{

      .nav-link{
        display: none;
      }

      .menu{
        visibility: visible;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        margin-right: 2rem;
      }
    }
  }
}

