.gov-container{

    button{
        padding: 0.6rem 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        background-color: #202d3d;
        color: white;
    }

    width: 70%;
    margin: 5rem 15%;

   
   li{
       font-size: 2.8rem;
       margin: 3rem;
   }
    
    .title{
        font-weight: bold;
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    .description{
        font-size: 1.8rem;
        letter-spacing: .2rem;
        line-height: 3rem;
    }
}

@media(max-width: 768px){
  .gov-container{
      width: 90%;
      margin: 5rem 5%;
  }
}