.gov-container{

    width: 70%;
    margin: 50px 15%;

   
   li{
       font-size: 28px;
       margin: 30px;
   }
    
    .title{
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .description{
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 30px;
    }
}