.machine-main-container{
    width: 80%;
    margin: 50px 10%;

    li{
        margin: 30px;
        display: flex;
        align-items: center;
    }

    p{
        font-size: 16px;
        letter-spacing: 2px;
    }

    span{
        font-size: 28px;
    }


}

