.machine-main-container{
    width: 80%;
    margin: 5rem 10%;

    li{
        margin: 3rem;
        display: flex;
        align-items: center;
    }

    p{
        font-size: 1.6rem;
        letter-spacing: .2rem;
    }

    span{
        font-size: 2rem;
    }


}

@media(max-width: 768px){
  .machine-main-container{
      width: 90%;
      margin: 5rem 5%;
  }
}

